@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 50px;
}

nav {
  width: 35%;
}

nav ul {
  widows: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav li {
  position: relative;
  margin-right: 20px;
}

nav li:hover a {
  color: #9D60EB;
}

nav li.active a::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6362D7;
  left: 50%;
  bottom: -10px;
}

nav a {
  width: 40px;
  color: #555555;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.search_bar {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_bar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 42px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
}

.search_bar a:hover {
  background: #296a46;
  background: linear-gradient(106deg, #296a46 0%, #49be55 99%);
}

.search_bar form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 35px;
}

.search_bar input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #C6BAF8;
}

.search_bar input:focus {
  outline: #C6BAF8;
}

.search_bar input::-webkit-input-placeholder {
  width: calc(100% - 60px);
  padding-left: 16px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #CCCCCC;
}

.search_bar input:-ms-input-placeholder {
  width: calc(100% - 60px);
  padding-left: 16px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #CCCCCC;
}

.search_bar input::-ms-input-placeholder {
  width: calc(100% - 60px);
  padding-left: 16px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #CCCCCC;
}

.search_bar input::placeholder {
  width: calc(100% - 60px);
  padding-left: 16px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #CCCCCC;
}

.search_bar input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          box-shadow: 0 0 0px 1000px #fff inset;
}

.search_bar svg {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.about_sec_title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.about_sec_title h1 {
  font-size: 36px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.about_sec_title h1 span {
  font-weight: 600;
}

.about_sec_title h3 {
  font-size: 15px;
  color: #555555;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.sec_one, .sec_two {
  width: 100%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.sec_one_about, .sec_two_help {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 50%;
  padding: 30px;
  margin-bottom: 80px;
}

.sec_one_about_info, .sec_two_help_info {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec_one_about_info h3, .sec_two_help_info h3 {
  font-size: 30px;
  color: #222222;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.sec_one_about_info h3:nth-of-type(2), .sec_two_help_info h3:nth-of-type(2) {
  font-weight: 600;
  margin-bottom: 20px;
}

.sec_one_about_info p, .sec_two_help_info p {
  margin-bottom: 20px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.sec_two_help_info {
  width: 100%;
  padding-left: 50px;
}

.sec_three {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.slider_name {
  text-align: center;
  margin-bottom: 30px;
}

.slider_name h3 {
  font-size: 36px;
  color: #222222;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.slider_name h3:nth-of-type(2) {
  font-weight: 600;
  margin-bottom: 20px;
}

.swiper-container {
  width: 65%;
  height: auto;
  padding: 10px;
}

.swiper-wrapper {
  width: 100%;
  height: 80%;
  margin-bottom: 30px;
  border: 1px solid blue;
  position: static;
}

.swiper-slide {
  min-height: 350px;
  max-width: calc( 100% / 3);
  background-color: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 15px #999999;
          box-shadow: 0 5px 15px #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  padding: 20px;
}

.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.swiper-slide h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.swiper-slide span {
  font-weight: 600;
}

.swiper-slide p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  margin-bottom: 40px;
}

.arrows {
  width: 100%;
  height: 80px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-button-prev, .swiper-button-next {
  width: 35px;
  height: 35px;
  margin-left: 30px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px #999999;
          box-shadow: 0 5px 15px #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: static;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #F0F2EE;
}

.swiper-button-prev {
  margin-left: 10px;
}

.sec_four {
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.gallery_container {
  width: 100%;
  height: 100%;
}

.gallery {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 10px;
}

.gallery_item {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.gallery_item:hover .img_info {
  opacity: 1;
  z-index: 1;
}

.gallery_item:hover .blurry {
  height: 100%;
}

.gallery_item:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ span 2;
}

.gallery_item:nth-child(8) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.gallery_item:nth-child(8) img {
  height: 210px;
}

.gallery_item img {
  width: 100%;
  height: 100%;
}

.img_info {
  width: 70%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.img_info h5 {
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #fff;
}

.img_info p {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #fff;
}

.blurry {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sec_five {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.form_sec {
  width: 100%;
  height: 100%;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#d4ebff));
  background: linear-gradient(0deg, white 0%, #d4ebff 100%);
  padding-top: 60px;
}

.form_title {
  width: 100%;
  text-align: center;
  margin-bottom: 36px;
}

.form_title h1 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.form_title h1:nth-child(2) {
  font-weight: 600;
}

.form_div {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.form_div form {
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  width: 45%;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 15px #3E3E3E;
          box-shadow: 0 10px 15px #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  position: relative;
}

.form_div img {
  height: 300px;
  position: absolute;
}

.form_div img:nth-of-type(1) {
  bottom: -80px;
  left: -260px;
}

.form_div img:nth-of-type(2) {
  bottom: -80px;
  right: -150px;
}

.form_div img:nth-of-type(3) {
  bottom: -80px;
  right: -260px;
}

.form_div button {
  width: 140px;
  height: 48px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
  cursor: pointer;
}

.form_div button:hover {
  background: #ff8fe2;
  background: linear-gradient(106deg, #ff8fe2 0%, #6362d7 99%);
}

.form_div button:focus {
  background: #296a46;
  background: linear-gradient(106deg, #296a46 0%, #49be55 99%);
}

.form_client_name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.form_client_name .input {
  width: 50%;
}

.form_client_name .input:first-child {
  padding-right: 10px;
}

.form_client_name input {
  width: 100%;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 28px;
}

.input label {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0px;
}

.input input, .input select {
  width: 100%;
  border: transparent;
  border-bottom: 1px solid #E5E5E5;
  height: 40px;
}

.input input:focus, .input select:focus {
  outline: none;
}

.input input::-webkit-input-placeholder, .input select::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input input:-ms-input-placeholder, .input select:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input input::-ms-input-placeholder, .input select::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input input::placeholder, .input select::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input input:-webkit-autofill, .input select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          box-shadow: 0 0 0px 1000px #fff inset;
}

.input input option, .input select option {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input .input1 {
  height: 70px;
}

footer {
  width: 100%;
  height: auto;
}

.footer_sec {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer_logo {
  margin-bottom: 70px;
}

.footer_info {
  width: 100%;
  padding-left: 10%;
  padding-right: 14%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer_info ul:nth-of-type(2) {
  padding-left: 10px;
}

.footer_info li {
  width: 100%;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 14px;
  color: #777777;
}

.footer_info li:hover a {
  color: #A3A7A0;
}

.footer_info li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777777;
}

.footer_info li a svg {
  margin-right: 26px;
}

.footer_contact li {
  margin-bottom: 10px;
}

.title {
  color: #101C21 !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.soc_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc_media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: cyan;
}

.soc_media a:first-child {
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
}

.soc_media a:nth-child(2) {
  background: #00b56c;
  background: linear-gradient(51deg, #00b56c 0%, #1dbe75 14%, #68d58c 39%, #9ee69d 71%);
}

.soc_media a:nth-child(3) {
  background: #ff9ab6;
  background: linear-gradient(96deg, #ff9ab6 0%, #f03295 100%);
}

.soc_media a:nth-child(4) {
  background: #f09376;
  background: linear-gradient(96deg, #f09376 0%, #f0db79 100%);
}

.footer_ul h6 {
  margin-bottom: 10px;
}

.address {
  margin-bottom: 20px;
}

.address p {
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.copyright {
  width: 100%;
  height: 250px;
  position: relative;
}

.copyright p {
  text-align: center;
  margin-top: 100px;
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

.copyright img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  z-index: -9;
}

.copyright img:nth-of-type(1) {
  bottom: 0;
  left: 0;
}

.copyright img:nth-of-type(2) {
  width: 250px;
  height: 200px;
  bottom: -40px;
  left: 20%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.copyright img:nth-of-type(3) {
  width: 150px;
  height: 200px;
  right: 20%;
  bottom: 0;
}

.scrollbtn {
  position: absolute;
  right: 5%;
  bottom: 15%;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.scrollbtn:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(132, 131, 242, 0.5);
          box-shadow: 0px 5px 10px rgba(132, 131, 242, 0.5);
}

.scrollbtn svg {
  fill: #fff;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 1120px) {
  .logo {
    margin-right: 30px;
  }
  nav li {
    margin-right: 10px;
  }
  nav a {
    font-size: 12px;
  }
  .sec_one img, .sec_two img {
    width: 100%;
    height: 100%;
  }
  .sec_one_about_info, .sec_two_help_info {
    width: 100%;
  }
  .sec_one_about_info h3, .sec_two_help_info h3 {
    font-size: 30px;
  }
  .sec_one_about_info p, .sec_two_help_info p {
    font-size: 12px;
  }
  .footer_info {
    padding-right: 8%;
  }
  .form_div img:nth-of-type(3) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    margin-right: 20px;
  }
  nav a {
    font-size: 10px;
  }
  .search_bar a {
    max-width: 100px;
    height: 34px;
    font-size: 12px;
  }
  .search_bar form {
    height: 34px;
    margin-right: 20px;
  }
  .search_bar input {
    height: 100%;
  }
  .search_bar svg {
    width: 14px;
    height: 14px;
    top: 12px;
  }
  .footer_info {
    padding-right: 5%;
  }
  form .input label {
    font-size: 10px;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    display: block;
    width: 100px;
    height: 40px;
  }
  .logo svg {
    width: 100%;
    height: 100%;
  }
  .search_bar {
    width: 30%;
  }
  .search_bar form {
    margin-right: 5px;
  }
  .search_bar form input {
    display: none;
  }
  .sec_one_about, .sec_two_help {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    position: relative;
  }
  .sec_one_about img, .sec_two_help img {
    width: 40%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: -9;
  }
  .sec_two_help {
    width: 100%;
    padding-left: unset;
    text-align: end;
  }
  .sec_two_help img {
    height: 60%;
    left: 0;
  }
  .product_grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .product_title {
    width: 70%;
  }
  .product_title p {
    width: 100%;
  }
  .swiper-slide:nth-child(2) {
    margin-right: 10px;
  }
  .footer_info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer_info ul:nth-of-type(2) {
    padding-left: unset;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .form_div form {
    width: 70%;
  }
  .form_div img {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .logo {
    display: none;
  }
  nav {
    width: 100%;
  }
  nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .search_bar {
    padding-left: 13%;
    padding-right: 10%;
    width: 100%;
    margin-bottom: 10px;
  }
  .search_bar a {
    height: 24px;
  }
  .search_bar form {
    height: 24px;
  }
  .search_bar form input {
    display: block;
  }
  .search_bar form input::-webkit-input-placeholder {
    font-size: 8px;
  }
  .search_bar form input:-ms-input-placeholder {
    font-size: 8px;
  }
  .search_bar form input::-ms-input-placeholder {
    font-size: 8px;
  }
  .search_bar form input::placeholder {
    font-size: 8px;
  }
  .search_bar svg {
    top: 5px;
  }
  .product_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .product_item {
    max-width: 300px;
    width: 100%;
  }
  .product_item:nth-child(2n) {
    display: none;
  }
  .scrollbtn {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 500px) {
  .swiper-slide {
    margin-right: unset;
  }
  .swiper-slide:nth-child(2) {
    display: none;
  }
  .client_info {
    width: 50%;
  }
  .main_info {
    font-size: 14px;
  }
  .footer_info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .footer_info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer_info ul:nth-of-type(3) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .footer_info li {
    width: 100%;
    font-size: 13px;
  }
  .scrollbtn {
    bottom: 5%;
  }
}

@media screen and (max-width: 400px) {
  .search_bar {
    padding-left: 8%;
    padding-right: 8%;
  }
  .product_item {
    max-width: 200px;
  }
}

@media screen and (max-width: 340px) {
  nav {
    padding-left: 5%;
  }
  .form_client_name .input {
    width: 50%;
  }
  .form_client_name .input:first-child {
    padding-right: 0px;
  }
}
/*# sourceMappingURL=about.css.map */