@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body.display {
  overflow: hidden;
}

body.display .swiper-container {
  display: unset;
}

header {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 50px;
}

nav {
  width: 35%;
}

nav ul {
  widows: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav li {
  position: relative;
  margin-right: 20px;
}

nav li:hover a {
  color: #9D60EB;
}

nav li.active a::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6362D7;
  left: 50%;
  bottom: -10px;
}

nav a {
  width: 40px;
  color: #555555;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.search_bar {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_bar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 42px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
}

.search_bar a:hover {
  background: #296a46;
  background: linear-gradient(106deg, #296a46 0%, #49be55 99%);
}

.search_bar form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 35px;
}

.search_bar input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #C6BAF8;
}

.search_bar input:focus {
  outline: #C6BAF8;
}

.search_bar input::-webkit-input-placeholder {
  width: calc(100% - 60px);
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #CCCCCC;
}

.search_bar input:-ms-input-placeholder {
  width: calc(100% - 60px);
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #CCCCCC;
}

.search_bar input::-ms-input-placeholder {
  width: calc(100% - 60px);
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #CCCCCC;
}

.search_bar input::placeholder {
  width: calc(100% - 60px);
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #CCCCCC;
}

.search_bar input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          box-shadow: 0 0 0px 1000px #fff inset;
}

.search_bar svg {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.sec_one {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.career_sec_title {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.career_sec_title h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.career_sec_title h3 {
  font-size: 15px;
  color: #555555;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.career_sec_video {
  width: 100%;
  height: 100%;
}

.video_title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
}

.video_title h1 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.video_title h1 span {
  font-weight: 600;
}

.video_title p {
  font-size: 13px;
  color: #555555;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.career_video {
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

.career_video iframe {
  width: 100%;
}

.sec_two {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.sec_two_title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.sec_two_title h3 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.sec_two_title h3 span {
  font-weight: 600;
}

.gallery-container {
  position: relative;
  width: 100%;
  height: auto;
}

.gallery-wrapper {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 10px;
}

.gallery-slide {
  width: 100%;
  height: 100%;
}

.gallery-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.gallery-slide img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.swiper-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 30;
}

.exit {
  width: 40px;
  height: 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 31;
  cursor: pointer;
}

.exit svg path {
  fill: #fff;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: calc( 100% - 50px);
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec_three {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.sec_three_title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.sec_three_title h3 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.sec_three_title h3 span {
  font-weight: 600;
}

.jobs {
  width: 100%;
}

.job_options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job_options_div {
  width: 110px;
  height: 46px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #9D60EB;
  color: #9D60EB;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.job_options_div:hover {
  background: #8483f2;
  background: linear-gradient(106deg, rgba(132, 131, 242, 0.8) 0%, rgba(255, 143, 226, 0.8) 99%);
  color: #fff;
  border: none;
}

.active_job {
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
  color: #fff;
  border: none;
}

.jobs_container {
  width: 100%;
  padding-left: 18%;
  padding-right: 18%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 10px;
  grid-row-gap: 10px;
}

.job_div {
  max-width: 250px;
  height: 300px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 5px 10px #999999;
          box-shadow: 0 5px 10px #999999;
  border-radius: 8px;
  padding: 15px;
  opacity: 0;
  -webkit-animation: fade 0.7s ease-in;
          animation: fade 0.7s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.job_div.nodisplay {
  display: none;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.job_name {
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
}

.job_name h5 {
  font-size: 20px;
  color: #222222;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.job_name p {
  color: #555555;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.job_info {
  margin-top: 10px;
  width: 100%;
}

.job_info p {
  color: #555555;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.time {
  color: #999999;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.detail {
  display: block;
  width: 110px;
  height: 40px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #9D60EB;
  color: #9D60EB;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.detail:hover {
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
  color: #fff;
  border: none;
}

.sec_four {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.form_sec {
  width: 100%;
  height: 100%;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#d4ebff));
  background: linear-gradient(0deg, white 0%, #d4ebff 100%);
  padding-top: 60px;
}

.form_title {
  width: 100%;
  text-align: center;
  margin-bottom: 36px;
}

.form_title h1 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.form_title h1:nth-child(2) {
  font-weight: 600;
}

.form_div {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.form_div form {
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  width: 45%;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 15px #3E3E3E;
          box-shadow: 0 10px 15px #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  position: relative;
}

.form_div img {
  height: 300px;
  position: absolute;
}

.form_div img:nth-of-type(1) {
  bottom: -80px;
  left: -260px;
}

.form_div img:nth-of-type(2) {
  bottom: -80px;
  right: -150px;
}

.form_div img:nth-of-type(3) {
  bottom: -80px;
  right: -260px;
}

.form_div button {
  width: 140px;
  height: 48px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
  cursor: pointer;
}

.form_div button:hover {
  background: #ff8fe2;
  background: linear-gradient(106deg, #ff8fe2 0%, #6362d7 99%);
}

.form_div button:focus {
  background: #296a46;
  background: linear-gradient(106deg, #296a46 0%, #49be55 99%);
}

.form_client_name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.form_client_name .input {
  width: 50%;
}

.form_client_name .input:first-child {
  padding-right: 10px;
}

.form_client_name input {
  width: 100%;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 28px;
}

.input label {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0px;
}

.input input, .input select {
  width: 100%;
  border: transparent;
  border-bottom: 1px solid #E5E5E5;
  height: 40px;
}

.input input:focus, .input select:focus {
  outline: none;
}

.input input::-webkit-input-placeholder, .input select::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input input:-ms-input-placeholder, .input select:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input input::-ms-input-placeholder, .input select::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input input::placeholder, .input select::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input input:-webkit-autofill, .input select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          box-shadow: 0 0 0px 1000px #fff inset;
}

.input input option, .input select option {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #C2C2C2;
}

.input .input1 {
  height: 70px;
}

footer {
  width: 100%;
  height: auto;
}

.footer_sec {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer_logo {
  margin-bottom: 70px;
}

.footer_info {
  width: 100%;
  padding-left: 10%;
  padding-right: 14%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer_info ul:nth-of-type(2) {
  padding-left: 10px;
}

.footer_info li {
  width: 100%;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 14px;
  color: #777777;
}

.footer_info li:hover a {
  color: #A3A7A0;
}

.footer_info li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777777;
}

.footer_info li a svg {
  margin-right: 26px;
}

.footer_contact li {
  margin-bottom: 10px;
}

.title {
  color: #101C21 !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.soc_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc_media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: cyan;
}

.soc_media a:first-child {
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
}

.soc_media a:nth-child(2) {
  background: #00b56c;
  background: linear-gradient(51deg, #00b56c 0%, #1dbe75 14%, #68d58c 39%, #9ee69d 71%);
}

.soc_media a:nth-child(3) {
  background: #ff9ab6;
  background: linear-gradient(96deg, #ff9ab6 0%, #f03295 100%);
}

.soc_media a:nth-child(4) {
  background: #f09376;
  background: linear-gradient(96deg, #f09376 0%, #f0db79 100%);
}

.footer_ul h6 {
  margin-bottom: 10px;
}

.address {
  margin-bottom: 20px;
}

.address p {
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.copyright {
  width: 100%;
  height: 250px;
  position: relative;
}

.copyright p {
  text-align: center;
  margin-top: 100px;
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

.copyright img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  z-index: -9;
}

.copyright img:nth-of-type(1) {
  bottom: 0;
  left: 0;
}

.copyright img:nth-of-type(2) {
  width: 250px;
  height: 200px;
  bottom: -40px;
  left: 20%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.copyright img:nth-of-type(3) {
  width: 150px;
  height: 200px;
  right: 20%;
  bottom: 0;
}

.scrollbtn {
  position: absolute;
  right: 5%;
  bottom: 15%;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #8483f2;
  background: linear-gradient(106deg, #8483f2 0%, #ff8fe2 99%);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.scrollbtn:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(132, 131, 242, 0.5);
          box-shadow: 0px 5px 10px rgba(132, 131, 242, 0.5);
}

.scrollbtn svg {
  fill: #fff;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 50%;
}
/*# sourceMappingURL=career.css.map */